<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="FixLengthString.properties" />
    </bean>

   <bean id="messageBlank" class="org.ruel.MessageBlank">
       <constructor-arg name="applicationId" value="${application.id}"/>
       <constructor-arg name="serviceName" value="${service.name}"/>
   </bean>
</beans>